<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/8d5fe92c5f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/css.css" rel="stylesheet">
    <title>출하 관리</title>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" id="sidebarBrandTexts"
           href="/main">
            <div class="sidebar-brand-icons">
                <i class="fa-solid fa-industry fa-2x" id="brandLogo"></i>
            </div>
            <div class="sidebar-brand-text mx-4">
                <div class="sidebarBrandTexts">제1조 MES</div>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-3">

        <!-- Nav Item - 수주관리 -->
        <li class="nav-item">
            <a class="nav-link" href="/rorder/order">
                <i class="fa-solid fa-wallet"></i>
                <span>수주관리</span></a>
        </li>

        <!-- Nav Item - 자재관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>자재관리</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/materials/porder-status">· 발주 현황</a>
                    <a class="collapse-item" href="/materials/material-inoutput">· 자재 입·출 현황</a>
                    <a class="collapse-item" href="/materials/material-inventory">· 자재 재고 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 생산관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa-solid fa-clipboard"></i>
                <span>생산관리</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/production/production-order">· 작업 계획 현황</a>
                    <a class="collapse-item" href="/production/production-plan">· 작업 지시 현황</a>
                    <a class="collapse-item" href="/production/production-performance">· 작업 실적 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 출하관리 -->
        <li class="nav-item active">
            <a class="nav-link" href="/shipment/shipment">
                <i class="fa-solid fa-chart-simple"></i>
                <span>출하관리</span>
            </a>
        </li>

        <!-- Nav Item - 거래처관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseThree">
                <i class="fa-solid fa-user-group"></i>
                <span>거래처관리</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="HeadingThree" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/customer/rorder-customer">· 수주 거래처 현황</a>
                    <a class="collapse-item" href="/customer/porder-customer">· 발주 거래처 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 품목관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
               aria-expanded="true" aria-controls="collapseFour">
                <i class="fa-solid fa-chart-bar"></i>
                <span>품목관리</span>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="HeadingFour" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/item/stock">· 제품 재고 현황</a>
                    <a class="collapse-item" href="/item/bom">· BOM 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 설비관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
               aria-expanded="true" aria-controls="collapseFive">
                <i class="fa-solid fa-gear"></i>
                <span>설비관리</span>
            </a>
            <div id="collapseFive" class="collapse" aria-labelledby="HeadingFive" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/facility/facility-status">· 설비 현황</a>
                    <a class="collapse-item" href="/facility/facility-information">· 설비 정보</a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center-toggle">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div class="topbar">
                <h1 class="h4">출하관리</h1>
                <div class="buttons">
                    <button class="buttonsEx" id="shipmentDownloadExcel">엑셀다운로드</button>
                </div>
            </div>
            <!-- End of Topbar -->

            <!-- searchbar  -->
            <form action="/search" methbod="get" class="searchbarForm">
                <div class="searchbar">
                    <table class="table table-borderless" id="dataTable2" cellspacing="0">

                        <tr class="searchbarTr1">
                            <td class="searchbarDateTd">
                                <p>출하일</p>
                            </td>
                            <td class="searchbarContent">
                                <div class="searchbarDate">
                                    <input type="date">
                                    <p class="searchbarDateWater">~</p>
                                    <input type="date">
                                </div>
                            <td class="searchbarDateTd">
                                <p>창고위치</p>
                            </td>
                            <td class="searchbarContent">
                                <select class="searchbarSelect">
                                    <option>가123</option>
                                    <option>나123</option>
                                    <option>다123</option>
                                    <option>라123</option>
                                    <option>마123</option>
                                </select>
                            </td>
                            <td class="searchbarDateTd">
                                <p>제품코드</p>
                            </td>
                            <td class="searchbarContent">
                                <input type="text">
                            </td>
                            <td class="searchButtonTd"></td>
                        </tr>
                        <tr class="searchbarTr2">
                            <td class="searchbarDateTd">
                                <p>거래처명</p>
                            </td>
                            <td class="searchbarContent">
                                <select class="searchbarSelect">
                                    <option>매출처1</option>
                                    <option>매출처2</option>
                                    <option>매출처3</option>
                                </select>
                            </td>
                            <td class="searchbarDateTd">
                                <p>품목</p>
                            </td>
                            <td class="searchbarContent">
                                <select class="searchbarSelect">
                                    <option>양배추즙</option>
                                    <option>흑마늘즙</option>
                                    <option>석류젤리</option>
                                    <option>메실젤리</option>
                                </select>
                            </td>
                            <td class="searchbarDateTd">
                                <!-- 공백 -->
                            </td>
                            <td class="searchbarContent">
                                <!-- 공백 -->
                            </td>
                            <td class="searchButtonTd">
                                <button class="searchButton">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <p class="searchButtonP">조회</p>
                                </button>
                            </td>
                        </tr>

                    </table>
                </div>
            </form>
            <!-- searchbar끝 -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="cardBody">
                    <div class="table-responsive">
                        <table class="table table-borderless" id="dataTables" width="100%" cellspacing="0">
                            <thead class="tableTitle">
                            <tr>
                                <th></th>
                                <th>출하일</th>
                                <th>품목명</th>
                                <th>수량(EA)</th>
                                <th>제품코드</th>
                                <th>창고위치</th>
                            </tr>
                            </thead>
                            <tbody class="tableBody">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2022-05-01 11:30</td>
                                <td>양배추즙</td>
                                <td>1</td>
                                <td>01513448</td>
                                <td>가123</td>
                            </tr>
                            <tr class="tableBodyTr">
                                <td><input type="checkbox"></td>
                                <td>2022-05-01 11:30</td>
                                <td>흑마늘즙</td>
                                <td>1</td>
                                <td>01513448</td>
                                <td>나123</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2022-05-01 11:30</td>
                                <td>석류 젤리스틱</td>
                                <td>1</td>
                                <td>01513448</td>
                                <td>다123</td>
                            </tr>
                            <tr class="tableBodyTr">
                                <td><input type="checkbox"></td>
                                <td>2022-05-01 11:30</td>
                                <td>매실 젤리스틱</td>
                                <td>1</td>
                                <td>01513448</td>
                                <td>라123</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- 작성 스크립트-->
<script src="/js/orderRegistration.js"></script>
<script src="/js/orderCorrection.js"></script>
<script src="/js/excel/shipmentExcel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/chart-area-demo.js"></script>
<script src="/js/chart-pie-demo.js"></script>
</body>

</html>