<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/rorder/layout}">
            <!-- Main Content -->
            <div id="content" layout:fragment="content">

                <!-- Topbar -->
                <div class="topbar">
                    <h1 class="h4">수주관리</h1>
                    <div class="buttons">
                        <!-- 등록 -->
                        <button class="buttonsReg" id="openModalBtn">등록</button>
                        <div class="modal" id="myModal">
                            <div class="modalContentReg">
                                <div class="regTop">
                                    <p class="regTitle">수주 등록</p>
                                    <div class="regButton">
                                        <button class="regReg">등록</button>
                                        <button class="regClose">닫기</button>
                                    </div>
                                </div>

                                <!-- regSearchbar -->
                                <form th:action="@{/order/add}" method="post">
                                    <div class="regSearchbar">
                                        <table class="table table-borderless" id="dataTable" width="100%"
                                            cellspacing="0">
                                                <tr class="regSearchbarTr1">
                                                    <td class="regSearchbarDateTd">
                                                        <p>수주일</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>수주 번호</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>거래처명</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <nav class="navbar navbar-expand" id="regDropdownPro">
                                                            <ul class="navbar-nav ml-auto">
                                                                <li class="dropdown">
                                                                    <a class="dropdown-toggle" id="navbarDropdown" role="button"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">거래처명</a>
                                                                    <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                                                        aria-labelledby="navbarDropdown">
                                                                        <a class="dropdown-item" href="#">· 매출처1</a>
                                                                        <a class="dropdown-item" href="#">· 매출처2</a>
                                                                        <a class="dropdown-item" href="#">· 매출처3</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </td>
                                                    <td class="regSearchbarButton">
                                                        <!-- 공백 -->
                                                    </td>
                                                </tr>
                                                <tr class="regSearchbarTr2">
                                                    <td class="regSearchbarDateTd">
                                                        <p>품목</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <nav class="navbar navbar-expand" id="regDropdownPro">
                                                            <ul class="navbar-nav ml-auto">
                                                                <li class="dropdown">
                                                                    <a class="dropdown-toggle" id="navbarDropdown" role="button"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">품목명</a>
                                                                    <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                                                        aria-labelledby="navbarDropdown">
                                                                        <a class="dropdown-item" href="#">· 양배추즙</a>
                                                                        <a class="dropdown-item" href="#">· 흑마늘즙</a>
                                                                        <a class="dropdown-item" href="#">· 매실젤리</a>
                                                                        <a class="dropdown-item" href="#">· 석류젤리</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>수주량</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>납품예정일</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarButton">
                                                        <button class="regSearchbarPreButton">
                                                            <p class="regSearchbarPreButtonP">예측</p>
                                                        </button>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </form>
                                <!-- regSearchbar 끝 -->

                                <!-- regCardBody -->
                                <div class="regCardBody">
                                    <div class="table-responsive">
                                        <table class="table table-borderless" id="dataTables" width="100%" cellspacing="0">
                                            <thead class="tableTitle">
                                                <tr>
                                                    <th>품목명</th>
                                                    <th>품목코드</th>
                                                    <th>수량</th>
                                                    <th>단가(원)</th>
                                                    <th>분류</th>
                                                    <th>총금액</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tableBody">
                                                <tr>
                                                    <td>양배추즙</td>
                                                    <td>01513448</td>
                                                    <td>100</td>
                                                    <td>9,000</td>
                                                    <td>JUICE</td>
                                                    <td>900,000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- regCardBody 끝 -->
                            </div>
                        </div>
                        <!-- 등록 끝 -->

                        <!-- 수정 -->
                        <button class="buttonsCor" onclick="openPopupCor()">수정</button>
                        <div class="modal" id="myModal">
                            <div class="modalContentReg">
                                <div class="regTop">
                                    <p class="regTitle">수주 수정</p>
                                    <div class="regButton">
                                        <button class="regReg">수정</button>
                                        <button class="regClose">닫기</button>
                                    </div>
                                </div>

                                <!-- regSearchbar -->
                                <form action="/search" method="get">
                                    <div class="regSearchbar">
                                        <table class="table table-borderless" id="dataTable" width="100%"
                                            cellspacing="0">
                                                <tr class="regSearchbarTr1">
                                                    <td class="regSearchbarDateTd">
                                                        <p>수주일</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>수주 번호</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>거래처명</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <nav class="navbar navbar-expand" id="regDropdownPro">
                                                            <ul class="navbar-nav ml-auto">
                                                                <li class="dropdown">
                                                                    <a class="dropdown-toggle" id="navbarDropdown" role="button"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">거래처명</a>
                                                                    <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                                                        aria-labelledby="navbarDropdown">
                                                                        <a class="dropdown-item" href="#">· 매출처1</a>
                                                                        <a class="dropdown-item" href="#">· 매출처2</a>
                                                                        <a class="dropdown-item" href="#">· 매출처3</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </td>
                                                    <td class="regSearchbarButton">
                                                        <!-- 공백 -->
                                                    </td>
                                                </tr>
                                                <tr class="regSearchbarTr2">
                                                    <td class="regSearchbarDateTd">
                                                        <p>품목</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <nav class="navbar navbar-expand" id="regDropdownPro">
                                                            <ul class="navbar-nav ml-auto">
                                                                <li class="dropdown">
                                                                    <a class="dropdown-toggle" id="navbarDropdown" role="button"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">품목명</a>
                                                                    <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                                                        aria-labelledby="navbarDropdown">
                                                                        <a class="dropdown-item" href="#">· 양배추즙</a>
                                                                        <a class="dropdown-item" href="#">· 흑마늘즙</a>
                                                                        <a class="dropdown-item" href="#">· 매실젤리</a>
                                                                        <a class="dropdown-item" href="#">· 석류젤리</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>수주량</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarDateTd">
                                                        <p>납품예정일</p>
                                                    </td>
                                                    <td class="regSearchbarContent">
                                                        <input type="text">
                                                    </td>
                                                    <td class="regSearchbarButton">
                                                        <button class="regSearchbarPreButton">
                                                            <p class="regSearchbarPreButtonP">예측</p>
                                                        </button>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </form>
                                <!-- regSearchbar 끝 -->

                                <!-- regCardBody -->
                                <div class="regCardBody">
                                    <div class="table-responsive">
                                        <table class="table table-borderless" id="dataTables" width="100%" cellspacing="0">
                                            <thead class="tableTitle">
                                                <tr>
                                                    <th>품목명</th>
                                                    <th>품목코드</th>
                                                    <th>수량</th>
                                                    <th>단가(원)</th>
                                                    <th>분류</th>
                                                    <th>총금액</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tableBody">
                                                <tr>
                                                    <td>양배추즙</td>
                                                    <td>01513448</td>
                                                    <td>100</td>
                                                    <td>9,000</td>
                                                    <td>JUICE</td>
                                                    <td>900,000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- regCardBody 끝 -->
                            </div>
                        </div>
                        <!-- 수정 끝 -->

                        <button class="buttonsChe" onclick="openPopupChe()">확인</button>
                        <button class="buttonsEx" onclick="openPopupEx()">엑셀다운로드</button>
                    </div>
                </div>
                <!-- End of Topbar -->

<!--        일반 검색 조건 영역 시작        -->
                <!-- searchbar  -->
                <form th:action="@{/order/}" methbod="get" class="searchbarForm">
                    <div class="searchbar">
                        <table class="table table-borderless" id="dataTable" cellspacing="0">
                            <tr class="searchbarTr1">
                                <td class="searchbarDateTd">
                                    <p>수주일자</p>
                                </td>
                                <td class="searchbarContent">
                                    <div class="searchbarDate">
                                        <input type="date" name="startDate" th:value="${startDate}">
                                        <p class="searchbarDateWater">~</p>
                                        <input type="date" name="endDate" th:value="${endDate}">
                                    </div>
                                <td class="searchbarDateTd">
                                    <p>수주번호</p>
                                </td>
                                <td class="searchbarContent">
                                    <input type="text" name="orderId" th:value="${orderId}">
                                </td>
                                <td class="searchbarDateTd">
                                    <p>진행상태</p>
                                </td>
                                <td class="searchbarContent">
                                    <nav class="navbar navbar-expand" id="dropdownPro">
                                        <ul class="navbar-nav ml-auto">
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" id="navbarDropdown" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">진행상태</a>
                                                <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                                    aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="#">· 진행전</a>
                                                    <a class="dropdown-item" href="#">· 진행중</a>
                                                    <a class="dropdown-item" href="#">· 완료</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                                <td class="searchButtonTd"></td>
                            </tr>
                            <tr class="searchbarTr2">
                                <td class="searchbarDateTd">
                                    <p>거래처명</p>
                                </td>
                                <td class="searchbarContent">
                                    <nav class="navbar navbar-expand" id="dropdownPro">
                                        <ul class="navbar-nav ml-auto">
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" id="navbarDropdown" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">거래처명</a>
                                                <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                                    aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="#">· 매출처1</a>
                                                    <a class="dropdown-item" href="#">· 매출처2</a>
                                                    <a class="dropdown-item" href="#">· 매출처3</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                                <td class="searchbarDateTd">
                                    <p>품목</p>
                                </td>
                                <td class="searchbarContent">
                                    <nav class="navbar navbar-expand" id="dropdownPro">
                                        <ul class="navbar-nav ml-auto">
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" id="navbarDropdown" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">품목명</a>
                                                <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                                    aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="#">· 양배추즙</a>
                                                    <a class="dropdown-item" href="#">· 흑마늘즙</a>
                                                    <a class="dropdown-item" href="#">· 석류젤리</a>
                                                    <a class="dropdown-item" href="#">· 메실젤리</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                                <td class="searchbarDateTd">
                                    <p>납품예정일</p>
                                </td>
                                <td class="searchbarContent">
                                    <div class="searchbarDate">
                                        <input type="date" name="startDeadline" th:value="${startDeadline}">
                                        <p class="searchbarDateWater">~</p>
                                        <input type="date" name="endDeadline" th:value="${endDeadline}">
                                    </div>
                                </td>
                                <td class="searchButtonTd">
                                    <button class="searchButton" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        <p class="searchButtonP">조회</p>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
                <!-- searchbar끝 -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="cardBody">
                        <div class="table-responsive">
                            <table class="table table-borderless" id="dataTables" width="100%" cellspacing="0">
                                <thead class="tableTitle">
                                    <tr>
                                        <th></th>
                                        <th>수주일자</th>
                                        <th>수주번호</th>
                                        <th>진행사항</th>
                                        <th>거래처명</th>
                                        <th>품목명</th>
                                        <th>납품예정일</th>
                                        <th>수주량</th>
                                        <th>수주 금액</th>
                                    </tr>
                                </thead>
                <!--  리스트 내용 영역 시작  -->
                                <tbody class="tableBody">
                                    <tr th:each="rorder : ${rorderList}">
                                        <td><input type="checkbox"></td>
                                        <td th:text="${rorder.date}">2022-05-01 11:30</td>
                                        <td th:text="${rorder.id}">G215483126</td>
                                        <td th:text="${rorder.state}">진행전</td>
                                        <td th:text="${rorder.customerName}">매출처1</td>
                                        <td th:text="${rorder.productName}">양배추즙</td>
                                        <td th:text="${rorder.deadline}">2022-05-01 11:30</td>
                                        <td th:text="${rorder.cnt}">50</td>
                                        <td th:text="${rorder.price}">1,000,000,000</td>
                                    </tr>
                                </tbody>
                <!--  리스트 내용 영역 끝  -->
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
</html>